<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Focus Dashboard</title>
    <script src="https://www.youtube.com/iframe_api" defer></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<section id="main-cntr">
    <div>
        <section id="time-cntr">
            <h1 id="time"> 00:00 </h1>
            <section id="time-buttons">
                <div>
                    <button id="pause"> ⏸️ </button>
                    <button id="play"> ▶️ </button>
                    <button id="reset"> 🔄 </button>
                </div>
                <div>
                    <button id="add-five" class="setter" adding="300"> +5:00</button>
                    <button id="add-ten" class="setter" adding="600"> +10:00</button>
                </div>
            </section>
        </section>
        <section id="video-cntr">
            <div>

                <img id="placeholder-image" src="https://stardewvalleywiki.com/mediawiki/images/2/22/White_Chicken.png" alt="sdv chx">
                <div id="player"></div>

                <div>
                    <input type="text" name="link" placeholder="insert link here" id="playlist-link">
                    <button id="link-button"> run playlist !</button>
                    <button id="save"> ⭐ </button>
                </div>

                <p> Example Playlist 01: https://youtube.com/playlist?list=PL3I5vTmvGGSGhJZqhFBBfDN7abk36t2Tk </p>
                <p> Example Playlist 02: https://youtube.com/playlist?list=PLBgJjIxp0WaVX6LSodfsQ9pBfHWObvkfX&si=rrsh3ahIdfrAMw8P </p>

                <div id="linkList">

                </div>


            </div>
        </section>
    </div>
    <div>
        <section id="todo-cntr">
            <h1> todo list</h1>
            <div id="todo-list">
                <div class="task">
                    <input type="checkbox" name="checkbox" value="completed" class="checkbox">
                    <input type="text" name="task" placeholder="enter task here" class="task-textbox">
                </div>
            </div>

        </section>

    </div>

</section>

</body>
</html>