<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Focus Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<section id="main-cntr">
    <div>
        <section id="time-cntr">
            <h1 id="time"> 1:00 </h1>
            <section id="time-buttons">
                <div>
                    <button id="pause"> ⏸️ </button>
                    <button id="play"> ▶️ </button>
                    <button id="reset"> 🔄 </button>
                </div>
                <div>
                    <button id="add-five"> +5:00</button>
                    <button id="add-ten"> +10:00</button>
                </div>
            </section>
        </section>
        <section id="video-cntr">
            <p id="affirmation"> "im an affirmation" </p>
            <div>
                <img id="video" src="https://stardewvalleywiki.com/mediawiki/images/2/22/White_Chicken.png" alt="sdv chx">
                <p id="link-input"> insert link </p>
            </div>
        </section>
    </div>
    <div>
        <section id="todo-cntr">
            <h1> todo list</h1>
            <div id="todo-list">
                <p> items</p>
            </div>

        </section>

    </div>

</section>

</body>
</html>